<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>$(PRODUCT_COPYRIGHT)</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
    <key>CFBundleName</key>
    <string>Dev Playground</string>
    
    <key>CFBundleDocumentTypes</key>
    <array>
        <!-- Dart -->
        <dict>
            <key>CFBundleTypeName</key>
            <string>Dart File</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.dart-source</string>
            </array>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>dart</string>
            </array>
        </dict>

        <!-- Shell -->
        <dict>
            <key>CFBundleTypeName</key>
            <string>Shell Script</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>sh</string>
                <string>shell</string>
            </array>
        </dict>

        <!-- C -->
        <dict>
            <key>CFBundleTypeName</key>
            <string>C Source File</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>c</string>
            </array>
        </dict>

        <!-- C++ -->
        <dict>
            <key>CFBundleTypeName</key>
            <string>C++ Source File</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>cpp</string>
                <string>cc</string>
                <string>cxx</string>
            </array>
        </dict>

        <!-- Python -->
        <dict>
            <key>CFBundleTypeName</key>
            <string>Python Script</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>py</string>
            </array>
        </dict>

        <!-- Swift -->
        <dict>
            <key>CFBundleTypeName</key>
            <string>Swift Source File</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>swift</string>
            </array>
        </dict>

        <!-- JavaScript -->
        <dict>
            <key>CFBundleTypeName</key>
            <string>JavaScript File</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>js</string>
            </array>
        </dict>

        <!-- JSON -->
        <dict>
            <key>CFBundleTypeName</key>
            <string>JSON File</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>json</string>
            </array>
        </dict>

        <!-- XML -->
        <dict>
            <key>CFBundleTypeName</key>
            <string>XML File</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>xml</string>
            </array>
        </dict>

        <!-- HTML -->
        <dict>
            <key>CFBundleTypeName</key>
            <string>HTML File</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>html</string>
                <string>htm</string>
            </array>
        </dict>

        <!-- Text -->
        <dict>
            <key>CFBundleTypeName</key>
            <string>Text File</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>txt</string>
            </array>
        </dict>

        <!-- Log -->
        <dict>
            <key>CFBundleTypeName</key>
            <string>Log File</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>log</string>
            </array>
        </dict>

        <!-- CSS -->
        <dict>
            <key>CFBundleTypeName</key>
            <string>CSS Stylesheet</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>css</string>
            </array>
        </dict>

        <!-- Custom AI file -->
        <dict>
            <key>CFBundleTypeName</key>
            <string>AI Custom File</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>ai</string>
            </array>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.example.dartpadLite.ai-file</string>
            </array>
        </dict>

    </array>
</dict>
</plist>
